@font-face {
    font-family: 'FontAwesome';
    src: url('../assets/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
    url('../assets/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
    url('../assets/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),
    url('../assets/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
    url('../assets/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-folder:before {
    content: "\f07b";
}


.box{
    width: 600px;
    height: 400px;
    border: 1px solid #7e3a6f;
}

.box >div{
    width: 100px;
    height: 100px;
    float: left;
    background-size: cover;
}
.box >div.img1{
    background-image: url("../assets/imgs/1.png");
}
.box >div.img2{
    background-image: url("../assets/imgs/2.png");
}
.box >div.img3{
    background-image: url("../assets/imgs/3.png");
}
.box >div.img4{
    background-image: url("../assets/imgs/4.png");
}